
.DS_Store

data/Panopea_generosa.fasta

data/Panopea_generosa.scafSeq

data/Panopea_generosa.fa

data/Panopea_generosa-Scaff-10k.fa

data/Geoduck-transcriptome-v3.fa

analyses/Geo_Pool_F-Pg-70k.sam

data/uniprot_sprot.fasta

*.phr

*.psq

*.pin

data/uniprot_sprot.fasta.gz

data/Oly-transcriptome-2k.fa

analyses/SRR329007*
analyses/SRR329007_mb_70k

analyses/SRR329007_mb_70k.tab
