
.DS_Store

data/Panopea_generosa.fasta

data/Panopea_generosa.scafSeq

data/Panopea_generosa.fa

data/Panopea_generosa-Scaff-10k.fa

data/Geoduck-transcriptome-v3.fa

analyses/Geo_Pool_F-Pg-70k.sam

data/uniprot_sprot.fasta

*.phr

*.psq

*.pin

data/uniprot_sprot.fasta.gz

data/Oly-transcriptome-2k.fa





data/Ostrea_lurida.scafSeq

data/Ostrea_lurida.fa

data/OlyO_v6_transcriptome.fa


data/Ostrea_lurida-Scaff-5k.fa

data/Ostrea_lurida-Scaff-10k.fa

data/Ostrea_lurida-Scaff-10k.nsq

data/Ostrea_lurida-Scaff-10k.nhr

data/Ostrea_lurida-Scaff-10k.nin

*.bt2

data/Ostrea_lurida-Scaff-10k-index.fa

data/Ostrea_lurida-Scaff-10k.fa.fai

data/CCGG-fuzz-Ostrea_lurida-Scaff-10k.gff

data/CCGG-fuzz-Ostrea_lurida-Scaff-10k.gff.idx

jupyter/outfile

jupyter/outfile.gff

jupyter/ccgg.gff

data/CG-fuzz-Ostrea_lurida-Scaff-10k.gff.idx

data/CG-fuzz-Ostrea_lurida-Scaff-10k.gff
